<mat-grid-list cols="2">
    <mat-grid-tile>
        <form (ngSubmit)="save(f.value)" #f="ngForm">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Pizzas Name" name="pizzaName" [(ngModel)]="product.pizzaName" #pizzaName="ngModel" required>
            
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Toppings</mat-label>
                <mat-select  multiple ngModel name="toppings">
                  <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                </mat-select>
              </mat-form-field>
            <!-- <div class="alert alert-danger" role="alert" *ngIf="pizzaName.touched && pizzaName.invalid">
                *Pizza name is required
              </div> -->
        

        
            <!-- <mat-form-field class="example-full-width">
              <input matInput placeholder="Other Price" type="number">
              <span matPrefix>$&nbsp;</span>
              <span matSuffix>.00</span>
            </mat-form-field>  -->
        
             <mat-form-field class="example-full-width" >
                <input matInput  #imageUrl="ngModel" placeholder="Image URL"  name="imageUrl" [(ngModel)]="product.imageUrl" required url>
              </mat-form-field>
        
            <mat-form-field class="example-full-width">
              <mat-label>Category: </mat-label>
              <select #category [(ngModel)]="product.category" name="category" id="category" matNativeControl required>
                <option *ngFor="let c of categories$| async" [value]="c.id">{{c.name}}</option>
              </select>
            </mat-form-field>

            <button mat-button >Save</button>
            <button mat-button color="warn" (click)="delete()" type="button">Delete</button>

        </form>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card"  *ngIf="product.pizzaName">
            <mat-card-header>
                <!-- <div mat-card-avatar class="example-header-image">{{ pizzaName.value}}</div> -->
                <mat-card-title> {{ product.pizzaName}}</mat-card-title>
                <!-- <mat-card-subtitle>{{ pizzaName.value}}</mat-card-subtitle> -->
              </mat-card-header>
            <img mat-card-image [src]="product.imageUrl" *ngIf="product.imageUrl">
            <!-- <mat-card-content>
                <p>
                    {{ pizzaName.value}}
                </p>
              </mat-card-content> -->
            <!-- <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>  -->
        </mat-card>

    </mat-grid-tile>
</mat-grid-list>
  

