<!-- My Check Out HTML -->


<h3></h3>
<div class="row" style="margin-top: 75px;">
   <div class="col-md-6">
      <form #f="ngForm">
          <div class="form-group" >
              <label for="startOrder">Please select Delivery  or  Pick Up </label>
              <select #startorder="ngModel" [(ngModel)]="shipping.startorder" (change)="selectOption($event.target.value)" name="startorder" class="form-control" id="startOrder" required>
                <option value="delivery">DELIVERY</option>
                <option value="pickup">PICKE UP</option>
              </select>
              <span style="color: red;">{{message}}</span>
            </div>
          <!-- <div class="example-button-row">
              <button type="button"  class="btnDelivery"  (click)="Delivery(delivery)" value="delivery" #delivery>Delivery</button>
              <button  type="button"  mat-button disabled>or</button>
              <button type="button"  class="btnPickup" (click)="Pickup(pickup)" value="pickup" #pickup>Pick Up</button>
          </div>
            -->
          <div *ngIf="startorder.value === 'delivery'">
              <div class="form-group">
                  <label for="">Name</label>
                  <input type="text" class="form-control" placeholder="CoCo Pizza Shop" name="name" [(ngModel)]="shipping.name" minlength="2" maxlength="30" #name="ngModel"  required>
                 
                </div>
                <div class="form-group">
                    <label for="">Phone Number</label>
                    <input  type="text" class="form-control" placeholder="98769588" name="phone"  [(ngModel)]="shipping.phone" #phone="ngModel" required>
                  
                </div>
                <div class="form-group">
                  <label for="">Address</label>
                  <input name="address"  type="text" class="form-control" placeholder="shop 3a, 434  Maroondah Hwy" name="address"  [(ngModel)]="shipping.address"  minlength="2" maxlength="30" #address="ngModel" required>
      
                </div>
                <div class="form-group">
                    <label for="FormControlSelectSuburb">Suburb</label>
                    <select class="form-control" id="FormControlSelectSuburb" name="suburb"  [(ngModel)]="shipping.suburb" #suburb="ngModel" minlength="2" maxlength="30" required>
                      <option>Croydon</option>
                      <option>Croydon South</option>
                      <option>Croydon North</option>
                      <option>Ringwood</option>
                      <option>Ringwood North</option>
                      <option>Ringwood East</option>
                      <option>Bayswater North</option>
                      <option>Bayswater</option>
                      <option>Warranwood</option>
                      <option>Moroolbark</option>
                      <option>Kilsyth</option>
                      <option>Kilsyth South</option>
                      <option>Warranwood</option>
                      <option>Heathmont</option>
                      <option>Wantirna</option>

                    </select>
                </div>
                <div class="form-group">
                  <label for="">Post Code</label>
                  <input type="text" class="form-control"  placeholder="3136" name="postcode" [(ngModel)]="shipping.postcode" #postcode="ngModel"  minlength="4" maxlength="5" required>
   
                </div>
                <button 
                type="submit"
                [disabled]="!f.valid"
                (click)="placeOrder()"
                class="btn btn-primary">Place Order</button>


          </div>

          <div *ngIf="startorder.value === 'pickup'">
                <div class="form-group">
                  <label for="">Name</label>
                  <input type="text" class="form-control" placeholder="CoCo Pizza Shop" name="name" minlength="2" maxlength="30" [(ngModel)]="shipping.name" #name="ngModel"  required>
                 
                </div>

                <div class="form-group">
                    <label for="">Phone Number</label>
                    <input  type="text" class="form-control" placeholder="98769588" name="phone"  [(ngModel)]="shipping.phone" #phone="ngModel" minlength="2" maxlength="30" required>
                  
                </div>

                <ngb-timepicker  name="time" [(ngModel)]="time" [meridian]="meridian" required></ngb-timepicker>
 
               <p><span style="color: lightcoral">*Plese check Our Bussines Hour and Location, and Select your Pick-Up time</span></p>
                <p> <i class="material-icons">room</i>Burnt Bridge Shopping Center</p>
                <p>3a/434, Maroondah Hwy, Croydon, VIC 3136</p>
                <p> </p>
                  <iframe src="https://www.google.com.au/maps/d/embed?mid=1qMUioFbP-LrR7LxOw77CLUy7oAbXD4n3" width="100%" height="380"></iframe>
  
                      <button 
                        type="submit"
                        [disabled]="!f.valid"
                        (click)="placeOrder()"
                        class="btn btn-primary"
                      >Place Order</button>
                
                 


          </div>




              <div #paypal></div>



       </form>

   
       

      
   </div>

   <div class="col-md-6">
     <app-shopping-cart-summary [cart]="cart"></app-shopping-cart-summary>
   </div>
</div>



