
<mat-drawer-container class="example-container" autosize>

    <mat-drawer #drawer class="example-sidenav" mode="side">
        <img src="./../assets/imgs/CoCo-Pizza-Shop-Logo-copy.png" alt="CoCo Pizza Shop" width="auto" height="145px;">
        <h3>Menu</h3>
        <!-- <button mat-button>
          Toggle extra text
        </button> -->
        <p><i class="material-icons">perm_phone_msg </i> <strong><a href="tel:98769588">(03) 98769588</a></strong>
        </p>
        <mat-nav-list>
            <!-- <mat-list-item *ngFor="let c of categories$ | async">
              <a matLine href="http://localhost:4200/?category={{c.id}}">{{c.name}}</a>
            </mat-list-item> -->
            <mat-list-item>
                <button mat-button [matMenuTriggerFor]="ClassicPizzas">Classic Pizzas</button>
                <mat-menu #ClassicPizzas="matMenu">
                  <button mat-menu-item routerLink="/smallclassicpizza">Small Pizza</button>
                  <button mat-menu-item routerLink="/largeclassicpizza">Large Pizza</button>
                  <button mat-menu-item routerLink="/familyclassicpizza">Family Pizza</button>
                </mat-menu>
            </mat-list-item>
            <mat-list-item> 
                <button mat-button [matMenuTriggerFor]="GourmetPizza">Gourmet Pizza</button>
              <mat-menu #GourmetPizza="matMenu">
                <button mat-menu-item  routerLink="/smallgourmetpizza">Small Pizza</button>
                <button mat-menu-item  routerLink="/largegourmetpizza">Large Pizza</button>
                <button mat-menu-item  routerLink="/familygourmetpizza">Family Pizza</button>
              </mat-menu>
            </mat-list-item>
            
          
            

            <mat-list-item><button mat-button routerLink="/pasta">Pasta</button></mat-list-item>
            <mat-list-item><button mat-button routerLink="/entrees">Entrees</button> </mat-list-item>
            <mat-list-item><button mat-button routerLink="/sides">Sides</button></mat-list-item>
            <mat-list-item>       
               <button mat-button routerLink="/desserts">Desserts</button>
            </mat-list-item>
            <mat-list-item>       
                <button mat-button routerLink="/softdrinks">Soft Drinks</button>
              </mat-list-item>
        </mat-nav-list>
        <div class="sideFooter">
                <i class="material-icons">room</i>
            <p>Burnt Bridge Shopping Center</p>
            <p>3a/434, Maroondah Hwy</p>
            <p>Croydon, VIC, 3136 </p>
        </div>
        <p>&copy; 2019 cocopizzashop.com.au<p>

      </mat-drawer>
    <div class="example-sidenav-content">
        <div class="icon-left">
              <button type="button" mat-button (click)="drawer.toggle()">
                <mat-icon aria-hidden="false" aria-label="Example home icon">dehaze</mat-icon>
              </button>
    
              <!-- <img src="./../assets/imgs/CoCo Pizza Logo.svg" alt="CoCo Pizza Shop"  width="auto" height="64px;"> -->
             
              <button type="button" mat-button routerLink="/">
                <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
              </button>
              <button type="button" mat-button routerLink="/shopping-cart">
                <mat-icon *ngIf="cart$ | async as cart" [matBadge]="cart.totalItemsCount" matBadgePosition="above after">add_shopping_cart</mat-icon>
              </button>
        </div>
        <div class="icon-right">
            <button type="button" mat-icon-button [matMenuTriggerFor]="appMenu">
                <i class="material-icons">
                  settings
                </i> 
            </button>
            <mat-menu #appMenu="matMenu">
                <button mat-menu-item routerLink="#" *ngIf="appUser; else anonymousUser">Hi, <strong>{{appUser.name}}</strong> </button>
                <button mat-menu-item routerLink="/my/orders">My Orders</button>
                <ng-container *ngIf="appisAdmin">
                    <button mat-menu-item routerLink="/admin/orders">Manage Orders</button>
                    <button mat-menu-item routerLink="/admin/products">Manage Products</button>
                </ng-container>
                <button mat-menu-item (click)="logout()" *ngIf="auth.user$|async as user">LogOut</button>
                <ng-template #anonymousUser>
                      <button mat-menu-item routerLink="/login">LogIn</button>
                </ng-template>
                <!-- <button mat-menu-item routerLink="/login" *ngIf="!auth.user$|async as user">LogIn</button> -->
              </mat-menu>
        </div>
    </div>
<hr>
<div class="container">
    <!-- <mat-spinner value="warn" *ngIf="isload"></mat-spinner> -->
  <router-outlet></router-outlet>
    <!-- <mat-spinner value="warn" *ngIf="isload"></mat-spinner> -->

</div>  

</mat-drawer-container>

    
