

<div class="row">

  <nav>
      <button mat-button [matMenuTriggerFor]="menu">Classic Pizza</button>


      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/smallclassicpizza">Small Pizza</button>
        <button mat-menu-item routerLink="/largeclassicpizza">Large Pizza</button>
        <button mat-menu-item routerLink="/familyclassicpizza">Family Pizza</button>
      </mat-menu>
      

      <button mat-button [matMenuTriggerFor]="GourmetPizza">Gourmet Pizza</button>
      <mat-menu #GourmetPizza="matMenu">
          <button mat-menu-item routerLink="/smallgourmetpizza">Small Pizza</button>
          <button mat-menu-item routerLink="/largegourmetpizza">Large Pizza</button>
          <button mat-menu-item routerLink="/familygourmetpizza">Family Pizza</button>

      </mat-menu>

      <button mat-button routerLink="/pasta">Pasta</button>
      <button mat-button routerLink="/entrees">Entrees</button>
      <button mat-button routerLink="/sides">Sides</button>
      <button mat-button routerLink="/desserts">Desserts</button>

      <button mat-button routerLink="/softdrinks">Soft Drinks</button>

    <!-- <a *ngFor="let c of categories$ | async" 
        routerLink="/"
        [queryParams]="{ category: c.id }"
        [class.active]="category === c.id">
        <button mat-button >{{c.name}}</button>
    </a>
     -->
 
  </nav>
    
</div>
<div class="alert alert-warning" role="alert" style="position: relative; margin-top: 25px;">
    * ALL PIZZAS COME WITH A TOMATO AND CHEESE BASE AND EXTRA CHEESE ON TOP
</div>
<div class="row" >

  <ng-container  *ngFor="let p of _familypizzas; let  i=index">
      <div class="col">
          <mat-card class="example-card" style="width: 15rem; margin: 5px 5px 5px 5px; padding: 15px 15px; ">
             <mat-card-header>
                
              </mat-card-header> 
              <img mat-card-image src="{{p.imgUrl}}" alt="">
              <mat-card-content>


                  <mat-accordion>
                      <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false"  >
                        <mat-expansion-panel-header style="margin-top:2px; padding: 2px 2px;">
                          <mat-panel-title >
                              <mat-card-title >
                                  {{p.name}} / {{p.price | currency:'AUD'}}-{{p.size}}           
                              </mat-card-title>
                          </mat-panel-title>
                          <mat-panel-description>
                           
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                        <mat-card-subtitle style="word-wrap:break-word; text-align: left;">
                            {{p.toppings}}
                      </mat-card-subtitle>                      
                    </mat-expansion-panel>
                  </mat-accordion>

  
              
        
             <div>
                <!-- <button  class="btn btn-sm btn-warning" (click)="openDialog()">Extra Toppings</button> -->
                <button  class="btn btn-sm btnColor ml-2 mt-2" (click)="addToCart(p.name,p.size,p.price)">Add to Cart</button>

      

            </div>
     

              </mat-card-content>
              <mat-card-actions>
                <!-- <button mat-button>Add to Cart</button> -->
                <!-- <button mat-button>SHARE</button> -->
              </mat-card-actions>
          </mat-card>
      </div>
      <div></div>
      <div *ngIf="(i +1)%4 === 0" class="w-100"></div>
  </ng-container>

    
</div>
